<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Practice</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body class="bg-slate-800 text-fuchsia-200 h-full">

    <div class=" bg-orange-700 h-[10%] w-auto  "></div>

    <div class="cardHolder h-[80%] w-[80%]  mx-auto my-auto">
        <div class="section1 flex flex-row h-[50%]  w-[100%] mob:flex-col mob:mt-3">
            <div class="children h-[96%] w-[47.5%] mx-auto my-auto border-4 rounded-xl mob:mt-4 mob:w-[99%]"></div>
            <div class="children children h-[96%] w-[47.5%] mx-auto my-auto border-4 rounded-xl mob:mt-4 mob:w-[99%]">
            </div>
        </div>

        <div class="section2 flex flex-row h-[50%]  w-[100%]  mob:flex-col mob:mt-3">
            <div class="children children h-[96%] w-[47.5%] mx-auto my-auto border-4 rounded-xl mob:mt-4 mob:w-[99%]">
            </div>
            <div class="children children h-[96%] w-[47.5%] mx-auto my-auto border-4 rounded-xl mob:mt-4 mob:w-[99%]">
            </div>
        </div>


    </div>
    <div class=" bg-orange-900 h-[30%] mt-[9%]"></div>
</body>

</html>