<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body class="h-screen">
    <div class="flex h-[100%] justify-center items-center">
        <div class="hidden md:block w-[50%] h-[100%]"><img class="h-[100%] w-[100%]" src="desktop.jpg" alt=""></div>
        <div class="md:w-[50%] h-[100%] w-[100%] flex flex-col justify-center items-center">
            <div class="h-[80%] w-[80%] ">

                <div class="flex gap-4  items-center">
                    <div><img class="h-14 w-14" src="icons8-login-64.png" alt=""> </div><span
                        class="font-bold text-[25px] text-amber-950 ">AUTHENTICATE PLEASE!</span>
                </div>
                <div><span class="font-bold text-[25px] text-amber-950 ">Hello,</span>
                    <div><span class="font-bold text-[25px] text-amber-950 ">Welcome Back</span></div>
                </div>
                <div><span class="font-bold text-[15px] text-amber-950 ">Login to manage your account!</span></div>
                <div><input class="p-4 border hover:border-red-700 border-red-950 w-[100%] rounded-md text-black mt-6"
                        type="email" placeholder="Email"></div>
                <div><input class="p-4 border hover:border-red-700  border-red-950 w-[100%] rounded-md text-black mt-6"
                        type="password" placeholder="Password"></div>

                <div class="mt-6"><a class="no-underline text-blue-700 text-[15px]" href="#">Forgot your password</a>
                </div>
                <div>
                    <button
                        class="p-4 bg-blue-800 hover:bg-red-700 w-[100%] rounded-md text-white font-bold mt-6 text-center">Login</button>
                </div>
                <div class="mt-6 text-center">OR</div>
                <div class="flex place-content-center gap-2 mt-6">
                    <span><img src="google.png" alt=""></span>
                    <span><img src="facebook.png" alt=""></span>
                    <span><img src="instagram.png" alt=""></span>
                </div>
                <div class="mt-6 text-center"><span class="mr-4">Don't have an account </span><a
                        class="no-underline text-blue-700 text-[15px]" href="#">Sign up?</a>
                </div>
               
            </div>
        </div>
</body>

</html>